<div class="mx-auto w-min">

<h2 class="text-4xl bold mb-4">Log in</h2>

<div class="p-4 rounded-xl bg-gray-100 w-min mb-4" style="background:hsl(var(--nf,var(--n))/0.1)">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    

  <div class="field form-control">
    <label class="input-group">
      <span>Email</span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"input input-bordered" %>
    </label>
  </div>

  <div class="field form-control mt-2">
    <label class="input-group">
      <span>Password</span>
      <%= f.password_field :password, autocomplete: "current-password",class:"input input-bordered" %>
    </label>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mt-4">
      <%= f.check_box :remember_me, class:"checkbox checkbox-sm" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions mt-4">
    <%= f.submit "Log in",class:"btn btn-submit" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/error_messages", resource: resource %>

<%= render "devise/shared/links" %>

<div>
